modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
EXPO_PUBLIC_FIREBASE_API_KEY = "AIzaSyBDWJWkVZSWgygYnMwYr51opSXL5YrLIvY"
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN = "familyplate-bda86.firebaseapp.com"
EXPO_PUBLIC_FIREBASE_PROJECT_ID = "familyplate-bda86"
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET = "familyplate-bda86.firebasestorage.app"
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID = "352181634994"
EXPO_PUBLIC_FIREBASE_APP_ID = "1:352181634994:web:56f99b6dd4cad7e4bb06ab"
VITE_FIREBASE_API_KEY = "AIzaSyBDWJWkVZSWgygYnMwYr51opSXL5YrLIvY"
VITE_FIREBASE_AUTH_DOMAIN = "familyplate-bda86.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID = "familyplate-bda86"
VITE_FIREBASE_STORAGE_BUCKET = "familyplate-bda86.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID = "352181634994"
VITE_FIREBASE_APP_ID = "1:352181634994:web:56f99b6dd4cad7e4bb06ab"
